.event {
  width: 70%;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  &-name{
    width: 50%;
    text-align: left;
  }
  &-date{
    display: flex;
    text-align: left;
  }
  &-participants{
    display: flex;
  }
}
